.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 80%;
    padding: 1.5rem 2.5rem 2.5rem;
    @media(max-width: 600px) {
      width: 95%;
      padding: 1rem;
    }
    background-color: #FFFFFF;
    border-radius: 0.5rem;
  }
  