.container {
    .shadowNav {
        box-shadow: 0 0 6px  #777
    }
    img {
        width: auto;
        height: 4.5rem;
    }

    .cartBtn {
        margin: 0 !important;
        margin-right: 1rem !important;
        height: 2rem;
        cursor: pointer;
    }

    .cartCount {
        color: #FFFFFF;
        background-color: #10A2DC;
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        text-align: center;
        padding: 0.28rem 0;
        font-size: 1rem;
        font-weight: bold;
    }

    .vr {
        height: 54px;
        width: 1px;
        border: 0.5px solid #E2E2E2;
        margin-right: 20px;
    }
}

.navLink {
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    background-color: #10A2DC;
    color: #FFFFFF;
    outline: 0;
    border: 0;
    text-align: center;
    margin-right: 2rem;
  }
  
