.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  flex: 0 0 33.333333%;
}
.selectedPreviewImage {
  max-height: 400px;
  width: auto;
}

.selectedPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  img {
    margin: 0.5rem;
    max-height: 125px;
    width: auto;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 66.66%;
  padding: 1rem;
  margin: 2rem;

}
.description {
  margin-top: 2rem;
  align-self: start;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 1rem;
}

.price {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #444444;
}

.pointer {
  cursor: pointer;
}

.buttonText {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
